$rwdS: 480px;
$rwdM: 768px;
$rwdL: 992px;
$rwdXL: 1200px;

$fz: 18px;
$dark: #222;
$light: #fefefe;

$pri: #fff494;
$sec: #ffd6bd;

$success: #00eb00;
$danger: #eb3300;
$warning: #f59f00;

// sidebar
$menuText: #aaa;
$menuActiveText: #0d86ff;
$subMenuActiveText: #fff; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$sidebarActive: #fcfcfc;
$sidebarActiveHover: #f2f2f2;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
